
.card {
    border: 0px solid #f8f9fa;
    border-radius: 8px;
}

.hand_card {
    cursor: pointer;
    transition: transform 0.5s;
    height: 100%;
}

.hand_card:hover {
    transform: translate(0px, -10vh) scale(1.4);
}

.preview_card {
    height: 100%;
    border-radius: 20px;
}

.battlefield_card {
    cursor: pointer;
    transition: transform 0.5s;
    height: 100%;
}

.battlefield_card:hover {
    transform: translate(0px, 0px) scale(1.4);
}

#fightingScene {
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

    /* no pointer events */
    pointer-events: none;
}

#fightingScene #defenders {
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fightingScene #fighter {
    height: 35vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fightingScene #fighter.active {
    background-color: rgba(255, 0, 0, 0.5);
    pointer-events: all;
}


.fighting_card {
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
}
